body{
    background-color: rgb(28, 110, 143);
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10%;
    border-radius: 10px;
    height: 10rem;
    width: 60%;
    background-color: whitesmoke
}
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.numeros{
    text-align: center;
    width: 100%;
    font-size: 60px;
}
h1{
    font-size: 50px;
}
